<div class="{{ styles.space }} {{ styles.color }} {{ styles.border }}">    
    <h1 class="flex items-center {{ styles.title.class }}">
        {{ component(styles.title.icon.name,styles.title.icon,'svg') }}  
        <div class="pl-2 font-bold">
            {{ title }}
        </div>
    </h1>
    <div class="mt-1 p-4">
        <form class="form" id="change_password_form">    
            <input type="hidden" name="token" value="{{ token }}">
            {% if uuid is not empty %}
            <input type="hidden" name="uuid" value="{{ uuid }}">
            {% endif %} 
            <div class="{{ styles.field }} my-1 required">                              
                <div class="absolute view-password cursor-pointer grid w-6 h-6 place-items-center text-blue-gray-500 top-2/4 right-2 -translate-y-2/4">
                    {{ component('icons~eye',styles.input.icon,'svg') }}
                </div>
                <input 
                    class="w-full z-0 form-input password-field {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"                       
                    type="password" 
                    rule="minLength[4]"
                    name="password"
                    placeholder=" " 
                    id="password">                      
                <label class="{{ styles.label }}">
                    {{ fields.password.label }}
                </label>                
            </div>   
            <div class="{{ styles.field }} my-2 required">               
                <div class="absolute view-password cursor-pointer grid w-6 h-6 place-items-center text-blue-gray-500 top-2/4 right-2 -translate-y-2/4">
                    {{ component('icons~eye',styles.input.icon,'svg') }}
                </div>
                <input 
                    class="form-input password-field {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"
                    type="password"
                    rule="match[password]" 
                    name="repeat_password" 
                    id="repeat_password"   
                    placeholder=" "                     
                    value="">                    
                <label class="{{ styles.label }}">
                    {{ fields.repeat_password.label }}
                </label>                
            </div>      
            {{  component('current>form.footer',{ 
                    button: {
                        class: 'w-full cursor-pointer text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-4 py-1 text-center',                       
                        title: buttons.submit
                    }           
                }) 
            }}       
        </form>      
    </div>
</div>