<div class="{{ styles.space }} {{ styles.color }} {{ styles.border }}">    
    <h1 class="flex items-center {{ styles.title.class }}">
        {{ component(styles.title.icon.name,styles.title.icon,'svg') }}  
        <div class="pl-2 font-bold">
            {{ title }}
        </div>
    </h1>
    <div class="mt-1 p-4">
        <form class="ui form" id="change_password_form">    
            <input type="hidden" name="token" value="{{ token }}">
            {% if uuid is not empty %}
            <input type="hidden" name="uuid" value="{{ uuid }}">
            {% endif %} 
            <div class="field flex flex-col my-1">
                <label class="{{ styles.label }}">
                    {{ fields.password.label }}
                </label>
                <div class="relative">
                    <input 
                        class="form-input password-field {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"                       
                        type="password" 
                        rule="minLength[4]"
                        name="password" 
                        id="password" 
                        {{ fields.password.placeholder|attr("placeholder") }}>  
                    <div class="absolute view-password cursor-pointer inset-y-0 right-0 flex items-center pr-2">
                        {{ component('icons~eye',styles.input.icon,'svg') }}
                    </div>
                </div>
            </div>   
            <div class="field flex flex-col my-1 required">
                <label class="{{ styles.label }}">
                    {{ fields.repeat_password.label }}
                </label>
                <div class="relative">   
                    <input 
                        class="form-input password-field {{ styles.input.class }} {{ styles.input.hover }} {{ styles.input.focus }}"
                        type="password"
                        rule="match[password]" 
                        name="repeat_password" 
                        id="repeat_password" 
                        {{ fields.repeat_password.placeholder|attr('placeholder') }} 
                        value="">
                    <div class="absolute view-password cursor-pointer inset-y-0 right-0 flex items-center pr-2">
                        {{ component('icons~eye',styles.input.icon,'svg') }}
                    </div>
                </div>
            </div>      
            {{  component('current>form.footer',{ 
                    button: {
                        class: 'w-full cursor-pointer text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-4 py-1 text-center',                       
                        title: buttons.submit
                    }           
                }) 
            }}       
        </form>      
    </div>
</div>