@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto {
    font-family: "Roboto", serif;
}

.roboto-mono {
    font-family: "Roboto Mono", serif;   
}

.roboto-condensed {
    font-family: "Roboto Condensed", serif;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
}

.roboto-serif {
    font-family: "Roboto Serif", serif;   
}

.loading:before {
    content: "";
    display: inline-block;
    height: 1rem!important;
    width: 1rem!important;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid white;
    border-color: white transparent white transparent;
    animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}