<div   
    class="w-2/3 mx-auto sm:w-full lg:w-2/3 grid grid-cols-2 lg:grid-cols-2 sm:grid-cols-1">
    <div    
        class="opacity-animation transition-opacity ease-in duration-1000 opacity-0 {{ styles.space }} {{ styles.size }}">
        {{ component('current>page.contactus.address',{ styles: styles }) }}
        <div class="mt-12 flex place-content-center">
            {{ component('current>share.links',{}) }}     
        </div>
    </div>
    <div     
        class="{{ styles.space }} {{ styles.color }} {{ styles.border }} {{ styles.size }}" 
        id="contactus_content">
        {{ component('current>page.contactus.form',{ styles: styles }) }}
    </div>
</div>
