<footer 
    class="block w-full bg-gray-100 {{ styles.class }} {{ styles.space }}">    
    <div 
        class="py-8 {{ styles.size }} grid xs:grid-cols-1 grid-cols-1 gap-8 md:grid-cols-5 lg:grid-cols-5">
        <div>
            <div class="flex flex-row items-center">  
                <div class="bg-slate-50 rounded-full">              
                    {{ component('material-icons~dashboard',{ size: 'h-10 w-10' },'svg') }}                
                </div>                                                                         
                <div class="pl-2">                
                    <div 
                        class="inline-block oswald-font align-baseline text-xl font-medium hover:text-sky-500 transition duration-700 ease-in-out">
                        <a href="{{ url('') }}" class="align-baseline text-stone-100">
                            {{ title }}    
                        </a>
                    </div>                                                    
                </div>                                                                   
            </div>
            <div 
                class="px-1 pt-2 flex flex-row items-center">              
                {{ component('material-icons~copyright',styles.icon,'svg') }}             
                <div class="px-1 {{ styles.copyright.color }}">       
                    {{ copyright|renderText({ interval: currentYear() }) }}             
                </div>                                 
            </div> 
        </div> 
        {% for column in columns %}
        <div>
            <h2 class="{{ styles.item.title }}">
                {{ column.title }}
            </h2> 
            {% for item in column.items %}
                <a class="{{ styles.item.class }}" href="{{ url(item.url) }}">
                    {{ component(item.icon,styles.icon,'svg') }} 
                    <span class="px-2 {{ styles.item.color }}">               
                        {{ item.title }}
                    </span> 
                </a>  
            {% endfor %}       
        </div> 
        {% endfor %} 
        <div class="flex flex-row items-center">           
            <a 
                class="ml-4 {{ styles.item.class }}" 
                title="{{ labels.linkedin }}"
                aria-label="{{ labels.linkedin }}"
                href="#">
                {{ component('icons~linkedin.color',styles.share.icon,'svg') }} 
            </a>  
            <a 
                class="ml-4 {{ styles.item.class }}" 
                title="{{ labels.facebook }}"
                aria-label="{{ labels.facebook }}"
                href="#">
                {{ component('icons~facebook.color',styles.share.icon,'svg') }} 
            </a>   
            <a 
                class="ml-4 {{ styles.item.class }}" 
                title="{{ labels.instagram }}"
                aria-label="{{ labels.instagram }}"
                href="#">
                {{ component('icons~instagram.color',styles.share.icon,'svg') }} 
            </a>           
        </div>
    </div>
</footer>